*
{
    scroll-behavior: smooth;
}
body
{
    margin: 0PX 2VW 2VW 2VW;
    background-color: black;
    color: white;
    font-family: 'Open+Sans' , sans-serif;
}
/* h2
{
    color: #82b1e5;
} */

#profile
{
    right: 0vw;
    position: absolute;
    height: 60vw;
    bottom: -5vw;
    z-index: -1;

}
@media only screen and (max-width:2561px)
{
    #profile
    {
        height: 60vw;
        top: 0px;
        right: 0px;
    }
}
@media only screen and (max-width:1025px)
{
    #profile
    {
        height: 70vw;
        top: 0vw;
        right: 0px;
    }
}
@media only screen and (max-width:450px)
{
    #profile
    {
        height: 390px;
        top: 27vw;
    }
}
@media only screen and (max-width:376px)
{
    #profile
    {
        height: 375px;
        top: 30vw;
    }
}
@media only screen and (max-width:320px)
{
    #profile
    {
        height: 345px;
        top: 40vw;
        right: 0px;
    }
}

#navcont
{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navcont p
{
    font-family: 'Russo One', sans-serif;
    font-size: 80px;
    margin: 25px 10px 0px 0px;
    color: #82b1e5;
}

#nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#nav a
{
    text-decoration: none;
    color: white;
}
.blacked
{
    color: black;
}
#nav h2
{
    font-size: 25px;
    margin: 35px;
    padding: 7px;
    transition: transform 1s ease;
    transform: scale(1);
}
#nav h2:hover
{
    transition: transform 0.3s ease;
    transform: scale(1.085);
    box-shadow: #82b1e5 0px 3px 5px;
    border-radius: 25px;
}

#dark_mode img
{
    margin: 25px;
}

#moon
{
    height: 30px;
    visibility: hidden;
}

@media only screen and (max-width:2561px)
{
    #navcont p 
    {
        font-size: 5vw;
    }
    #nav h2
    {
        font-size: 2vw;
        margin: 0.7vw;
    }

}
@media only screen and (max-width:2100px)
{
    #navcont p 
    {
        font-size: 5vw;
    }
    #nav h2
    {
        font-size: 2vw;
        margin: 0.5vw;
    }
}
@media only screen and (max-width:1700px)
{
    #navcont p 
    {
        font-size: 5vw;
    }
    #nav h2, #dark_mode img
    {
        font-size: 1.7vw;
        margin: 1vw;
    }

}
@media only screen and (max-width:1500px)
{
    #navcont p 
    {
        font-size: 75px;
    }
    #nav h2, #dark_mode img
    {
        font-size: 1.7;
        margin: 1vw;
    }

}
@media only screen and (max-width:1025px)
{
    #navcont p 
    {
        font-size: 63px;
    }
    #nav h2, #dark_mode img
    {
        font-size: 25px;
        margin: 5px;
    }

}
@media only screen and (max-width:450px)
{
    #navcont
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #navcont p
    {
        font-size: 35px;
        margin: 5px;
    }
    #nav
    {
        width: 95vw;
        margin: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #nav h2
    {
        height: 12px;
        padding: 4px 3px 4px 3px;
        font-size: 15px;
        margin: 5px 4px 5px 4px;
        color: white;
    }
    #dark_mode img
    {
        height: 0px;
        padding: 0px;
        margin: 0px;
        border-radius: 50%;
        background-color: white;
    }
}
@media only screen and (max-width:376px)
{
    #navcont
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #navcont p
    {
        font-size: 35px;
        margin: 5px;
    }
    #nav
    {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #nav h2
    {
        height: 12px;
        padding: 4px 3px 4px 3px;
        font-size: 15px;
        margin: 5px 4px 5px 4px;
        color: white;
    }
    #dark_mode img
    {
        height: 0px;
        padding: 0px;
        margin: 0px;
        border-radius: 50%;
        background-color: white;
    }
}
@media only screen and (max-width:320px)
{
    #navcont
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #navcont p
    {
        font-size: 35px;
        margin: 5px;
    }
    #nav
    {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #nav h2
    {
        height: 12px;
        padding: 4px 3px 4px 3px;
        font-size: 15px;
        margin: 5px 4px 5px 4px;
        color: white;
    }
    #dark_mode img
    {
        height: 17px;
        padding: 3px;
        margin: 5px;
        border-radius: 50%;
        background-color: #82b1e5;
    }
}

/* notes */


#note
{
    font-size: 45px;
    margin: 6vw 0vw 5vw 3vw;
}

#me
{
    font-size: 65px;
    margin: 4vw 0vw 5vw 3vw;
}
#find
{
    border: 0.5px solid #82b1e5;
    border-radius: 40vw;
    width: 25vw;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#find p
{
    font-size: 18px;
    margin: 15px;
}
#find a
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#bold
{
    color: #82b1e5;
}
#find div
{
    margin: 0px 7px 0px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons
{
    border-radius: 50%;
    height: 50px;
    margin: 5px;
    transition: transform 0.2s ease;
    transform: scale(1);
}
.icons:hover
{
    filter: brightness(70%);
    transition: transform 0.2s ease;
    transform: scale(0.95);
}
/* .fa-brands
{
    text-decoration:none;
    font-size: 45px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-brands:hover
{
    filter: brightness(50%);
} */

@media only screen and (max-width:2561px)
{
    #note
    {
        font-size: 3vw;
    }
    #me
    {
        font-size: 3vw;
    }
    #find
    {
        width: -moz-fit-content;
        width: fit-content;
    }
    #find p 
    {
        font-size: 2vw;
    }
    .fa-brands
    {
        height: 3.5vw;
        margin: 1vw;
        text-align: justify;
    }
}
@media only screen and (max-width:1700px)
{
    #find p 
    {
        font-size: 1vw;
    }
}
@media only screen and (max-width:1500px)
{
    #note
    {
        font-size: 50px;
    }
    #me
    {
        font-size: 55px;
    }
    #find
    {
        width: -moz-fit-content;
        width: fit-content;
    }
    #find p 
    {
        font-size: 15px;
    }

    .icons
    {
        height: 40px;
        margin: 2px;
    }
}
@media only screen and (max-width:1050px)
{
    #note
    {
        font-size: 35px;
    }
    #me
    {
        font-size: 50px;
    }
    #find
    {
        width: -moz-fit-content;
        width: fit-content;
    }
    #find p 
    {
        font-size: 25px;
    }
    .fa-brands
    {
        height: 40px;
        margin: 5px;
        text-align: justify;
    }
}

@media only screen and (max-width:450px)
{
    #note
    {
        font-size: 15px;
        color: black;
        text-align: right;
        margin: 0px;
    }
    #me
    {
        font-size: 25px;
        margin: 0px;
    }
    #note_me
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin: 10px 15px 0px 15px;
    }
    #find
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        margin-left: 15px;
        margin-top: 15vw;
    }
    #find p 
    {
        font-size: 0px;
        margin: 0px;
    }
    #find div 
    {
        margin: 3px 2px 3px 2px;
    }
    .fa-brands
    {
        font-size: 25px;
        text-align: justify;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width:376px)
{
    #note
    {
        font-size: 15px;
        color: black;
        text-align: right;
        margin: 0px;
    }
    #me
    {
        font-size: 25px;
        margin: 0px;
    }
    #note_me
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin: 15px 15px 0px 15px;
    }
    #find
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        margin-left: 15px;
        margin-top: 8vw;
    }
    #find p 
    {
        font-size: 0px;
        margin: 0px;
    }
    #find div 
    {
        margin: 5px 4px 5px 4px;
    }
}

@media only screen and (max-width:320px)
{
    #note
    {
        font-size: 15px ;
        color: black;
        text-align: right;
        margin: 0px;
    }
    #me
    {
        font-size: 25px;
        margin: 0px;
    }
    #note_me
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    #note_me
    {
        margin: 15px 15px 0px 15px;
    }
    #find
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        margin-left: 15px;
    }
    #find p 
    {
        font-size: 0px;
        margin: 0px;
    }
    #find div 
    {
        margin: 5px 4px 5px 4px;
    }
}

/* about */


#about
{
    margin-top: 5vw;
    background-color: black;
    border: 2px solid #82b1e5;
    border-radius: 25px;
}
#about h1
{
    margin: 20px;
    color: #82b1e5;
}
#about
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about_me img
{
    height: 80px;
    margin: 15px;
}

#about_me
{
    padding: 0vw 4vw;
}

#about_me p
{
    font-size: 20px;
    text-align: justify;
}

.skillcont
{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.skills
{
    background-color: #82b1e5;
    color: black;
    padding: 3px 15px 3px 15px;
    margin: 5px;
    border-radius: 8px;
}

/* Projects */

#projects
{
    margin-top: 5vw;
    background-color: black;
    border: 2px solid #82b1e5;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.procont
{
    display: flex;
    justify-content: space-between;
}
.pro_img
{
    border-radius: 20px;
    width: 37vw;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url("./red.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
.pro_img p
{
    text-align: justify;
}


#projects h1
{
    margin: 20px;
    color: #82b1e5;
}


.pro_img img
{
    height: 15vw;
    border-radius: 5px;
    filter: brightness(90%);
    transition: transform 0.2s ease;
    transform: scale(1);
}
.pro_img img:hover
{
    filter: brightness(60%);
    transition: transform 0.2s ease;
    transform: scale(0.99);
}


@media only screen and (max-width:450px)
{
    #projects h1
    {
        text-align: center;
    }
    .procont
    {
        display: flex;
        flex-direction: column;
    }
    .pro_img
    {
        height: 70vw;
        overflow-y: scroll;
        width: 70vw;
    }
    .pro_img img 
    {
        width: 75vw;
        height: auto;
    }
    .pro_img h2
    {
        font-size: 25px;
        margin: 10px 0px 2px 0px;
    }
    .pro_img p 
    {
        font-size: 14px;
        margin: 0px;
    }
}
@media only screen and (max-width:376px)
{
    #projects h1
    {
        text-align: center;
    }
    .procont
    {
        display: flex;
        flex-direction: column;
    }
    .pro_img
    {
        height: 70vw;
        overflow-y: scroll;
        width: 70vw;
    }
    .pro_img img 
    {
        width: 75vw;
        height: auto;
    }
    .pro_img h2
    {
        font-size: 25px;
        margin: 10px 0px 2px 0px;
    }
    .pro_img p 
    {
        font-size: 14px;
        margin: 0px;
    }
}

@media only screen and (max-width:320px)
{
    #projects h1
    {
        text-align: center;
    }
    .procont
    {
        display: flex;
        flex-direction: column;
    }
    .pro_img
    {
        height: 70vw;
        overflow-y: scroll;
        width: 70vw;
    }
    .pro_img img 
    {
        width: 75vw;
        height: auto;
    }
    .pro_img h2
    {
        font-size: 25px;
        margin: 10px 0px 2px 0px;
    }
    .pro_img p 
    {
        font-size: 14px;
        margin: 0px;
    }
}
/* contact */

#contact
{
    margin-top: 5vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact h1
{
    
    margin: 20px;
    color: #82b1e5;
}

#contactcont
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#contactcont section
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4vw;
}


/* map */

#mapcont h2
{
    margin: 35px 0px 3px 10px;
}
#mapcont div
{
    margin: 5px;
}
#maps iframe
{
    border-radius: 20px;
    height: 250px;
}
#mapcont p
{
    font-size: 15px;
}





/* links */



.links h2
{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: -10px;
}
.links a
{
    text-decoration: none;
    color: white;
    margin: 0px;
    font-size: 15px;
}
.links a:hover
{
    color: #82b1e5;
}


/* forms */

#nam, #namm
{
    margin-top: -40px;
}
form div
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
form main
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form div h2
{
    font-size: 20px;
}
form div input
{
    border: none;
    padding-left: 5px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
}
textarea
{
    height: 100px;
    padding-left: 5px;
    padding-top: 5px;
    width: 250px;
    border-radius: 10px;
}

#submit
{
    border-radius: 20px;
    background-color: #82b1e5;
    font-size: 15px;
    padding: 5px;
    width: 75px;
}


@media only screen and (max-width:2570px)
{
    #contactcont section
    {
        margin: 55px 20px 25px 20px ;
        width: 25vw;
        display: flex;
        justify-content: space-evenly;
    }
}
@media only screen and (max-width:1050px)
{
    #contactcont section
    {
        margin: 55px 20px 25px 20px ;
        width: auto;
    }
}
@media only screen and (max-width:450px)
{
    #contactcont
    {
        display: flex;
        flex-direction: column-reverse;
    }
    #contactcont section
    {
        margin: 55px 20px 25px 20px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #mapcont
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #maps iframe
    {
        height: 50vw;
        width: 70vw;
    }
}
@media only screen and (max-width:376px)
{
    #contactcont
    {
        display: flex;
        flex-direction: column-reverse;
    }
    #contactcont section
    {
        margin: 55px 20px 25px 20px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #mapcont
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #maps iframe
    {
        height: 50vw;
        width: 70vw;
    }
}
@media only screen and (max-width:320px)
{
    #contactcont
    {
        display: flex;
        flex-direction: column-reverse;
    }
    #contactcont section
    {
        margin: 55px 20px 25px 20px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #mapcont
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #maps iframe
    {
        height: 50vw;
        width: 70vw;
    }
}
